<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.hyosun.dev">

    <!-- AD_ID 권한 제거 -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
        
    <application
        android:label="Solis View"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- android:usesCleartextTraffic="true"는 test때만 application에추가-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
          
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
     
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

             <!-- Firebase 메시징 서비스 등록 -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel"/>
              <!-- Firebase 메시징 서비스 등록 끝-->

        <!-- FCM 아이콘 설정 -->
       <meta-data
          android:name="com.google.firebase.messaging.default_notification_icon"
          android:resource="@drawable/pushicon" /> 
      
    <!-- (선택) 알림 색상도 지정 가능 -->
 <!--    <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@color/your_color" /> -->
    </application>
  
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> <!-- Android 13+ -->
</manifest>
